{% extends "nav.html" %}
{% block content %}
    <div class="content">
        <div class="container-bg">
            <div class="title">
                Smart Retrieval Fashion
            </div>
        </div>
        {% include 'tools/search-bar.html' %}
        <div class="container-collection">
            <div class="sub-title">Or browse the clothes</div>
            <div class="container-images clearfix">
                {% for name in names %}
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 container-image">
                        <a
                           href={{ url_for('char_image', image_name=name[1], collection=name[0]) }}>
                            <img class="bg-image" src={{ url_for('get_image', image_name=name[1], collection=name[0], dim=340) }}>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="bottom-margin"></div>
        </div>
    </div>
{% endblock %}
