{% extends "nav.html" %}
{% block content %}
    <div class="content">
        <div class="container-collection">

            <div class="sub-title">Modify Collection<label class="card-btn"
                                                           onclick="window.location.href='{{ url_for('add') }}';" title="Add new collection">
                <span class="plus-symbol"></span>
            </label>
            </div>

            <div class="container-collections">
                {% for c in collections %}
                    <div class="container-c">
                        <a href={{ url_for('delete_collection', col=c[1]) }}>
                            <i class="fa-sharp fa-solid fa-trash img-delete"></i>
                        </a>
                        <a href={{ url_for('collection', col=c[1]) }}>
                            <div class="card card-radius">
                                <img class="bg-image border-radius"
                                     src={{ url_for('get_image', image_name=c[2] , collection=c[1], dim=340) }}>
                                <div class="card-body card-t">
                                    <p class="card-text card-sub-title">{{ c[0] }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}

            </div>

            <div class="bottom-margin"></div>
        </div>
    </div>
{% endblock content %}
